body{
margin:0;
-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
background-position: top center !;
background-repeat: no-repeat !;
background-attachment: fixed;
background-color:white;
}
nav ul{
width:1536px;
max-height:100%;
max-width:100%;
margin:auto;
border-radius:5px;
list-style-type: none;
text-align:center;
overflow:hidden;

}

nav ul li {
font-family: 'Josefin Sans', sans-serif;
padding:20px;
font-size:25px;
display: inline-block;
-webkit-transition:max-height 0.4s;
-ms-transition:max-height 0.4s;
-moz-transition:max-height 0.4s;
-o-transition:max-height 0.4s;
transition:max-height 0.4s;
}
.handle{
width:100%;
background:black;
text-align:left;
box-sizing: border-box;
padding:15px 10px;
cursor:pointer;
display:none;
color:white;
}


a{
text-decoration:none;
color:black;
}
img{
width:100%;
height:100%;
}
#wrapper{
position:relative;
margin:auto;
width:1040px;
height:500px;
margin-top:10px;
max-width:100%;
max-height:100%;
border-bottom:2px solid;

}
#wrapper .box1{Position:absolute;top:30px;left:20px; width:305px;height:275px;}
#wrapper .box2{position:absolute;background:blue;top:30px;left:335px;width:305px;height:275px;}
#wrapper .box3{position:absolute;background:brown;top:30px;left:650px;width:305px;height:275px;}
#wrapper .boxtext1{position:absolute;background:yellow;top:325px;left:20px;width:305px;height:100px;}
#wrapper .boxtext2{position:absolute;background:blue;top:325px;left:335px;width:305px;height:100px;}
#wrapper .boxtext3{position:absolute;background:brown;top:325px;left:650px;width:300px;height:100px;}
#wrapper .pgbutton1{Position:absolute;background:black; color:white;border-radius:100%;top:445px;right:200px;width:40px;height:40px;font-family:'Josefin Sans', sans-serif;text-align:center;font-size:30px;}
#wrapper .pgbutton2{Position:absolute;background:black;color:white;border-radius:100%;top:445px;right:150px;width:40px;height:40px;font-family:'Josefin Sans', sans-serif;text-align:center;font-size:30px;}
#wrapper .pgbutton3{Position:absolute;background:black;color:white;border-radius:100%;top:445px;right:100px;width:40px;height:40px;font-family:'Josefin Sans', sans-serif;text-align:center;font-size:30px;}
#wrapper .pgbutton1:hover{opacity:0.4;}
#wrapper .pgbutton2:hover{opacity:0.4;}
#wrapper .pgbutton3:hover{opacity:0.4;}
#wrapper .box1:hover{opacity:0.4;}
.social1{
position:absolute;
top:30px;
right:5px;
width:40px;
height:40px;
background:black;
border-radius:100%
}
.social2{
position:absolute;
top:80px;
right:5px;
width:40px;
height:40px;
background:black;
border-radius:100%
}

.social3{
position:absolute;
top:130px;
right:5px;
width:40px;
height:40px;
background:black;
border-radius:100%
}
#footer{
background:red;
width:100%;
height:30px;
max-width:100%;
min-width:100%;
display:none;
}
.footarrow{
display:none;}
.footername{
display:none;}
@media screen and (max-width:639px){

nav ul{
background:white;
height:0px;}

.show{
height:20em;
-webkit-transition:max-height 0.4s;
-ms-transition:max-height 0.4s;
-moz-transition:max-height 0.4s;
-o-transition:max-height 0.4s;
transition:max-height 0.4s;
}

nav ul  li{
box-sizing:border-box;
width:100%;
padding:15px;
text-align:left;
}




.handle{

display:block;

}

.mobilename{
padding-left:5px;
font-size:30px;
font-family:'Josefin Sans', sans-serif;
display:inline;}

.mobileicon{
width:30px;
height:30px;

}
#footer{
position:relative;
margin-top:10px;
display:block;
background:black;
height:40px;
text-align:right;}

.footarrow{
display:inline;
width:30px;
height:30px;
}
.footername{
padding:10px;
display:inline;
color:white;
font-size:30px;
font-family:'Josefin Sans', sans-serif;}
}
@media only screen and (min-width:640px) and (max-width: 785px)  {

nav ul{
max-height:0px;}

.show{
max-height:20em;}

nav ul  li{
box-sizing:border-box;
width:100%;
padding:15px;
text-align:left;
}

.handle{
display:block;}

.mobilename{
padding-left:5px;
font-size:30px;
font-family:'Josefin Sans', sans-serif;
display:inline;}

.mobileicon{
width:30px;
height:30px;}

#footer{
position:relative;
margin-top:10px;
display:block;
background:black;
height:40px;
text-align:right;}

.footarrow{
display:inline;
width:30px;
height:30px;
}
.footername{
padding:10px;
display:inline;
color:white;
font-size:30px;
font-family:'Josefin Sans', sans-serif;}

}